.main_div1 {
    background-color: #ebcfcf;
    color: white;
    height: 69vh;
    width: 90vw;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 15px;
    border-radius: 14px;
    border: 2px solid white;
}

.section_container {
    background-color: #cfebd6;
    height: 87vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 11px;
    margin-top: -10px;
}

.section_1 {
    // background-color: rgb(2, 71, 71);
    height: 80px;
    width: 100%;
}

.section_2 {
    // background-color: rgb(126, 117, 66);
    height: 80px;
    width: 100%;
}

.section_3 {
    height: 205px;
    width: 100%;
    /* background-color: red; */
    margin-top: 32px;
}

.section_4 {
    // background-color: rgb(212, 44, 92);
    height: 80px;
    width: 100%;

}

.search {
    background: transparent;
    border: none;
    border-radius: 15px;
}

.TvShowItem {
    margin-bottom: 21px;
}