.main_div {
    //display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1cae9;
    color: black;
    height: 94vh;
    width: 80vw;
    justify-content: center;
    border-radius: 47px;
    border: 2px solid black;
}

.heading_1 {
    background-color: #f7f0f0;
    color: black;
    height: 9vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-radius: 45px;
    box-shadow: 5px 10px #bdb2b2;
    margin-bottom: 10px;
    margin-top: 15px;

}
.heading_2 {
    @extend .heading_1;
}

.heading_3 {
    @extend .heading_1;
}

.heading_4 {
    @extend .heading_1;
}

a.active_class{
    color: pink;
    border-bottom: 1px solid red;
}
.mainMenu_div{
    background-color: #ebcfcf;
    color: white;
    height: 6vh;
    width: 90vw;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: -18px;
    border-radius: 14px;
    border: 2px solid white;
}

.mainMenu_item{
    border: 2px solid rgb(39, 39, 39);
}